@page "/GeoObjectBySectionCode"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks

<PageTitle>Сортировка данных</PageTitle>

<div class="row">
    <div class="col text-center">
        <h3>Сортировка данных</h3>
    </div>
</div>

@if (geoObjectTypeDtos != null)
{
    <select class="select-css" @bind="_value">
        <option value="A">A - Объекты политической и экономической географии </option>
        <option value="H">H - Гидрография </option>
        <option value="L">L - Парки,районы </option>
        <option value="P">P - Город, деревня </option>
        <option value="R">R - Автомобильная дорога, железная дорога </option>
        <option value="S">S - Местоположение, здание, ферма </option>
        <option value="T">T - Гора, холм, скала </option>
        <option value="U">U - Подводный рельеф</option>
        <option value="V">V - Лес, степь </option>
        <option value="0">Все типы </option>
    </select>
    <br>

    <table>
        <thead>
            <tr>
                @if (_value == "0")
                {
                    <th>Код раздела</th>
                }
                <th>Код объекта</th>
                <th>Name</th>
                <th>Название</th>
                <th>Description</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var GeoObjectType in geoObjectTypeDtos)
            {
                if (GeoObjectType.TypeSectionCode != _value && _value != "0") continue;
                <tr>
                    @if(_value == "0") {<td>@GeoObjectType.TypeSectionCode</td>}
                    
                    <td>@GeoObjectType.Code</td>
                    <td>@GeoObjectType.NameInEnglish</td>
                    <td>@GeoObjectType.NameInRussian</td>
                    <td>@GeoObjectType.DescriptionInEnglish</td>
                    <td>@GeoObjectType.DescriptionInRussian</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    string _value = "A";
    string _reset = "ghdg";
    private List<GeoObjectType> geoObjectTypeDtos = null!;

    public string MessageAdd { get; set; } = String.Empty;
    HttpClient Http = new();
    private bool fulfil = false;

    protected override async Task OnParametersSetAsync()
    {
        geoObjectTypeDtos = new List<GeoObjectType>(await Http.GetFromJsonAsync<IEnumerable<GeoObjectType>>
            ($"https://localhost:8001/api/GeoObjectType"));
        fulfil = true;
    }

    protected override async Task OnInitializedAsync()
    {
        geoObjectTypeDtos = new List<GeoObjectType>(await Http.GetFromJsonAsync<IEnumerable<GeoObjectType>>
            ($"https://localhost:8001/api/GeoObjectType"));

        fulfil = true;
    }

    
}
