@page "/GeoObjectUpdate"


@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
<h3>Put</h3>

<form asp-page-handler="OnPost">
    <label>Code</label><br>
    <input type="text" name="code" @bind="_code"><br>

    <label>Eng name</label><br>
    <input type="text" name="nameEng" @bind="_nameEng"><br>

    <label>Rus name</label><br>
    <input type="text" name="nameRus" @bind="_nameRus"><br>

    <label>Descript in eng</label><br>
    <input type="text" name="discriptionEng" @bind="_discriptionEng"><br>

    <label>Descript in rus</label><br>
    <input type="text" name="discriptionRus" @bind="_discriptionRus"><br>

    <label>Type section code</label><br>
    <input type="text" name="typeSectionCode" @bind="_typeSectionCode"><br>
    <br>
    <button class="btn" type="submit" onclick="@OnPost">Send</button>
</form>


@if (geoObjectTypeDtos != null)
{
    <select class="select-css" @bind="_value">
        <option value="A">A - Объекты политической и экономической географии </option>
        <option value="H">H - Гидрография </option>
        <option value="L">L - Парки,районы </option>
        <option value="P">P - Город, деревня </option>
        <option value="R">R - Автомобильная дорога, железная дорога </option>
        <option value="S">S - Местоположение, здание, ферма </option>
        <option value="T">T - Гора, холм, скала </option>
        <option value="U">U - Лес, степь </option>
        <option value="0">Все типы </option>
    </select>
    <br>

    <table>
        <thead>
            <tr>
                @if (_value == "0")
                {
                    <th>Код раздела</th>
                }
                <th>Код объекта</th>
                <th>Name</th>
                <th>Название</th>
                <th>Type</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var geoObjectType in geoObjectTypeDtos){                
                
                string jopa ="";
                if (geoObjectType.TypeSectionCode != _value && _value != "0") continue;
                <tr>
                    @if (_value == "0")
                    {
                        <td>@geoObjectType.TypeSectionCode</td>
                    }

                    <td>@geoObjectType.Code</td>
                    <td>@geoObjectType.NameInEnglish</td>
                    <td>@geoObjectType.NameInRussian</td>
                    <td>@geoObjectType.DescriptionInEnglish</td>
                    <td>@geoObjectType.DescriptionInRussian</td>
                    <td><form><button type="submit" @onclick="(() => shit(geoObjectType))">update</button></form></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    GeoObjectType gto = null;
    string _got = "";
    string _value = "0";
    string _code = "";
    string _nameEng = "";
    string _nameRus = "";
    string _discriptionEng = "";
    string _discriptionRus = "";
    string _typeSectionCode = "";

    List<GeoObjectType> geoObjectTypeDtos = new();

    HttpClient client = new();


    protected override async Task OnInitializedAsync()
    {

        geoObjectTypeDtos = new List<GeoObjectType>(await client.GetFromJsonAsync<IEnumerable<GeoObjectType>>
            ($"https://localhost:8001/api/GeoObjectType"));
        if (GeoUpdate.geoUpdateCode != "" && GeoUpdate.geoUpdateCode!= null)
        {
            foreach (var item in geoObjectTypeDtos)
            {
                if (GeoUpdate.geoUpdateCode == item.Code)
                {
                    _code = item.Code;
                    _nameEng = item.NameInEnglish;
                    _nameRus = item.NameInRussian;
                    _discriptionEng = item.DescriptionInEnglish;
                    _discriptionRus = item.DescriptionInRussian;
                    _typeSectionCode = item.TypeSectionCode;
                }
            }
        }
        //Console.WriteLine("hui");

    }

    public async Task OnPost()
    {
        Console.WriteLine(GeoUpdate.geoUpdateCode);

        GeoObjectType geoObject = new GeoObjectType()
            {
                Id = Guid.NewGuid().ToString(),
                Code = _code,
                NameInEnglish = _nameEng,
                NameInRussian = _nameRus,
                DescriptionInEnglish = _discriptionEng,
                DescriptionInRussian = _discriptionRus,
                TypeSectionCode = _typeSectionCode
            };
        client.PutAsJsonAsync<GeoObjectType>($"https://localhost:8001/api/GeoObjectType/{geoObject.Code}", geoObject);

    }

    protected void shit (GeoObjectType got)
    {
        Console.WriteLine(got.Code);

        GeoUpdate.geoUpdateCode = got.Code;

    }
}
