@page "/TSGet"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using BlazorApp1.DTO;

<PageTitle>Все объекты</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Все объекты</h1>
    </div>
</div>

<button class="btn" type="button" onclick = "@OnParametersSetAsync()">Update</button>

@if (typeSectionObj != null)
{
    <br>
    <table>
        <thead>
            <tr>
                <th>Код раздела</th>
                <th>Name</th>
                <th>Название</th>
                <th>Гео объекты</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in typeSectionDto)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.NameInEnglish</td>
                    <td>@item.NameInRussian</td>
                    <td>@item.geoObjectNames</td>
                </tr>
            }
        </tbody>
    </table>
}
@code
{
    private List<TypeSection> typeSectionObj = null!;
    private List<TSDto> typeSectionDto = new();
    public string MessageAdd { get; set; } = String.Empty;

    HttpClient Http = new();

    protected override async Task OnParametersSetAsync()
    {
        typeSectionDto = new List<TypeSection>(await Http.GetFromJsonAsync<IEnumerable<TypeSection>>
            ($"https://localhost:8001/api/TypeSection")).Select(ts => TSDtoMapper.ToDto(ts)).ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        typeSectionObj = new List<TypeSection>(await Http.GetFromJsonAsync<IEnumerable<TypeSection>>
            ($"https://localhost:8001/api/TypeSection"));
    }
}
